@import '@/styles/variables';
@import '@/styles/mixins';

#hero {
  background-color: $col-primary;
  padding: 4rem 7% 0;
  position: relative;

  @include respondMax("tablet") {
    padding: 2rem 4%;
  }
}

.textbox {
  padding: 7rem 0 2.5rem;
  color: $col-white;

  @include flex(center, center, column nowrap);

  @include respondMax("lg-tablet") {
    padding: 3.5rem 0 2.5rem; 
  }

  &_heading {
    font-size: 5.5rem;
    text-align: center;
    margin: 0;

    @include respondMax("sm-desktop") {
      font-size: 4rem;
    }

    @include respondMax("tablet") {
      font-size: 3rem;
      br {
        display: none;
      }
    }
  }

  &_subheading {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5;
    opacity: 0.8;

    @include respondMax("sm-desktop") {
      font-size: 1rem;
    }
  }
}

.hero_formContainer {
  padding: 0 20%;

  @include respondMax("lg-tablet") {
    padding: 0 5%; 
  }
}