@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/utils";

.cta {
  @extend %page-section;
  padding-bottom: 0;
  padding-top: 0;
  background-color: $col-primary-300;
}

.cta_wrapper {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: $col-primary-300;
  border-bottom: 1px solid rgba($col-white, 0.2);
  @include flex(center, center, column);

  @include respondMax("tablet") {
    padding-top: 16rem;
    padding-bottom: 16rem;
    border-bottom: 1px solid rgba($col-white, 0.1);
  }
}

.cta_title {
  font-size: 3.5rem;
  margin: 0;
  line-height: 4.563rem;
  color: $col-white;

  @include respondMax("tablet") {
    font-size: 5rem;
  }

  span {
    color: $col-secondary;
  }
}

.cta_description {
  font-size: 1.25rem;
  line-height: 2.063rem;
  color: $col-white;
  opacity: 0.7;
  width: 43.625rem;

  @include respondMax("tablet") {
    font-size: 2rem;
    line-height: 180%;
  }
}

.cta_buttons {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  column-gap: 1rem;

  @include respondMax("tablet") {
    width: 90%;
    margin: 1.5rem auto;
    row-gap: 1.2rem;
    grid-template-columns: 1fr;
  }

  .cta_button {
    padding: 1.1rem 1.9rem !important;
    border-radius: 10px !important;

    @include respondMax("tablet") {
      width: 100%;
      padding: 2.3rem 2rem !important;
    }

    &:nth-child(1) {
      @extend %btn_secondary;
    }

    &:nth-child(2) {
      @extend %btn_secondary_outline;
      @extend %btn_icon_prefix;
    }
  }
}

.cta_checks {
  column-gap: 1rem;
  color: $col-white;
  @include flex(flex-start, center, nowrap);

  .cta_checker {
    font-size: 0.7rem;
    column-gap: 0.2rem;
    
    @include flex(flex-start, center, nowrap);

    @include respondMax("tablet") {
      column-gap: 0.6rem;
      font-size: 1.4rem;
      margin-top: 1rem;

      img {
        max-height: 13px;
      }
    }
  }
}
