@import '@/styles/variables';
@import '@/styles/mixins';

#header {
  width: 100%;

  @include flex(space-between, center);
}

.logo_container {
  
}

.header_btn {
  width: 10rem;
  height: 4rem;

  @include respondMax("tablet") {
    height: 3rem;
    width: 8rem;
  }

  @include respondMax("mobile") {
    height: 2.5rem;
    width: 8rem;
    font-size: 0.8rem;
  }

  @include respondMax("mobile") {
    font-size: 0.7rem;
    width: 6.5rem;
  }
}