@import '@/styles/variables';
@import '@/styles/mixins';

.badge {
  padding: 0.3rem 2rem;
  border: 1px solid transparent;
  border-radius: 50px;
  width: fit-content;
  font-size: 0.9rem;
}

.badge.secondary {
  background-color: $col-secondary;
  border-color: $col-secondary;
}

.badge.secondaryOutline {
  background-color: transparent;
  border-color: $col-secondary;
}

.badge.primary {
  background-color: $col-primary;
  border-color: $col-primary;
}

.badge.primaryOutline {
  background-color: transparent;
  border-color: $col-primary;
}