@import "@/styles/variables";
@import "@/styles/mixins";

#icons {
  position: absolute;
  width: 100%;
  left: 0;
  top: -2rem;
  height: 4rem;
  padding: 0 10%;

  @include flex(space-around, center, row nowrap);

  @include respondMax("tablet") {
    display: none;
  }
}

.icon_container img {
  @include respondMax("lg-tablet") {
    transform: scale(0.7);
  } 
}