@import '@/styles/variables';
@import '@/styles/mixins';

.alert {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba($col-primary, 0.8);
  @include flex(center, center);
}

.alert_box {
  padding: 3rem 2rem 3rem;
  background: $col-white;
  width: 520px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  position: relative;

  @media screen and (max-width: 600px) {
    width: 95%;
  }
}

.alert_close {
  all: unset;
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 100%;
  @include flex(flex-end, center);
 

  span {
    color: #000000;
    margin-right: 1.5rem;
  }
}

.alert_icon {
  display: grid;
  place-items: center;

  span {
    font-size: 5rem;
  }

  .success {
    color: $col-secondary;
  }

  .error {
    color: #cf3333;
  }
}

.alert_title {
  margin: 1rem 0 0;
  color: $col-primary;
}

.alert_message {
  text-align: center;
  color: rgb(85, 85, 85);
  
  @media screen and (min-width: 600px) {
    padding: 0 5%;
  }
}

.alert_btn {
  width: 70%;
  margin-top: 1rem  !important;
  margin-bottom: 0.5rem;
  padding: 1.2rem 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  height: auto;
}