@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/utils";

.hero {
  @extend %page-section;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25%;
  height: 100%;

  margin-top: 3rem;

  @include respondMax("tablet") {
    grid: unset;
    row-gap: 10rem;
    height: auto;
    margin-top: 7rem;

    @include flex(flex-start, center, column nowrap);
  }
}

.hero_textsection {
  margin: auto;

  @include respondMax("tablet") {
    text-align: center;
  }

  .hero_title {
    font-size: 3.5rem;
    margin: 0;

    @include respondMax("tablet") {
      font-size: 4.5rem;
      max-width: 80%;
      margin: auto;
    }
  }

  .hero_titleAlt {
    color: $col-secondary;
  }

  .hero_desc {
    color: $col-primary;
    line-height: 1.5;
    max-width: 90%;
    font-size: 1.1rem;

    @include respondMax("tablet") {
      margin: 2.5rem 10%;
      font-size: 2rem;
    }
  }
}

.hero_imagesection {
  display: grid;
  place-items: center;

  @include respondMax("tablet") {
    margin: 0;
    height: 45.4055rem;
    width: 100%;
    display: block;
  }

  .hero_imageContainer {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 10%;

    @include respondMax("tablet") {
      margin-left: 0;
    }
  }

  .hero_image {
    position: relative;
  }

  .hero_imageFloat {
    position: absolute;
    filter: drop-shadow(0px 10px 50px rgba(138, 149, 158, 0.15));
  }

  .hero_imageFloat:nth-of-type(1) {
    top: 2rem;
    left: -35%;
    width: 22.688rem;
    height: 13rem;

    @include respondMax("tablet") {
      width: 34.032rem;
      height: 19.5rem;
      left: -14%;
    }
  }

  .hero_imageFloat:nth-of-type(2) {
    top: 1rem;
    right: 2rem;
    width: 9.188rem;
    height: 2.938rem;

    @include respondMax("tablet") {
      width: 13.782rem;
      height: 4.407rem;
    }
  }

  .hero_imageFloat:nth-of-type(3) {
    bottom: 3rem;
    right: -12%;
    width: 12.063rem;
    height: 10.75rem;

    @include respondMax("tablet") {
      width: 18.0945rem;
      height: 16.125rem;
      right: -6%;
      bottom: 6rem;
    }
  }
}

.hero_buttons {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  column-gap: 1rem;

  // @include respondMax("tablet") {
  //   margin: 2rem auto 2.2rem;
  //   width: 75%;
  //   grid: unset;
  //   row-gap: 1.2rem;
  //   column-gap: 1rem;
  //   @include flex(center, center, row wrap);
  // }

  @include respondMax("tablet") {
    width: 85%;
    margin: 1.5rem auto;
    row-gap: 1.2rem;
    grid-template-columns: 1fr;
  }

  .hero_button {
    padding: 1.1rem 1.9rem !important;
    border-radius: 10px !important;

    &:nth-child(2) {
      @extend %btn_primary_outline;
      @extend %btn_icon_prefix;
    }

    @include respondMax("tablet") {
      width: 100%;
      padding: 2.5rem 4.5rem !important;
    }
  }
}

.hero_checks {
  column-gap: 1rem;
  @include flex(flex-start, center, nowrap);

  @include respondMax("tablet") {
    @include flex(center, center, nowrap);
  }

  .hero_check {
    width: 1rem;
    height: 1rem;
    position: relative;

    @include respondMax("tablet") {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .hero_checker {
    font-size: 0.7rem;
    column-gap: 0.2rem;

    @include flex(flex-start, center, nowrap);

    @include respondMax("tablet") {
      column-gap: 0.6rem;
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }
}

.hero_brands {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0 1rem;
  margin-top: 5rem;

  @include flex(space-between, center, nowrap);

  @include respondMax("tablet") {
    grid-column-start: unset;
    grid-column-end: unset;
    width: 100%;
    margin-top: 0;
  }
}

.hero_brand {
  position: relative;

  @include respondMax("tablet") {
    transform: scale(0.8);
  }
}
