@import "@/styles/variables";
@import "@/styles/mixins";

#scrollScreen {
  height: 16.5rem;
  width: 100%;
  position: relative;

  @include flex(center, center);

  @include respondMax("tablet") {
    height: 10.5rem;
  }

}

.scroller {
  width: 75%;
  margin: auto;
  height: 20rem;
  position: absolute;
  bottom: -8.25rem;
  background: url("/svg/contour-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.363);

  @include respondMax("sm-desktop") {
    width: 85%;
  };

  @include respondMax("lg-tablet") {
    width: 90%;
  }
  
  @include respondMax("tablet") {
    height: 14rem;
    width: 100%;
  }

  @include respondMax("mobile") {
    height: 10rem;
  }
}

.scroller_inner {
  padding: 8rem 0 8rem;
}

.scroller_item {
  margin: 0 25%;
  transition: all 0.2s linear;
  filter: blur(3px);

  @include respondMax("sm-desktop") {
    margin: 0 20%;
  }

  @include respondMax("tablet") {
    margin: 0 15%;
  }

  @include respondMax("mobile") {
    margin: 0 13%;
  }
}

.scroller_item__active {
  margin: 0 20%;
  transform: scale(1.1);

  @include respondMax("sm-desktop") {
    margin: 0 17%;
  }

  @include respondMax("tablet") {
    margin: 0 13%;
  }

  @include respondMax("mobile") {
    margin: 0 11%;
  }
}
