@import '@/styles/variables';
@import '@/styles/mixins';

#scrollScreen {
  
  height: 16.5rem;
  width: 100%;
  position: relative;

  @include flex(center, center);
}

.scroller {
  width: 70%;
  margin: auto;
  padding: 1rem 15%;
  height: 120%;
  position: absolute;
  bottom: -8.25rem;
  background: url("/svg/contour-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.363);

  @include flex(center, center, column nowrap);
}