@import "@/styles/variables";
@import "@/styles/mixins";

.input {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  @include flex(space-between, center);

  .input_field {
    width: 100%;
    padding: 1rem 2rem;
    height: 4.5rem;
    font-size: 1.1rem;
    color: $col-white;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff7a;
    box-sizing: border-box;
    border-radius: 5px;

    @include respondMax("mobile") {
      font-size: 16px;
    }

    &::placeholder {
      color: #ffffff;
      opacity: 0.4;
    }
  }

  .input_toggleIcon {
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    color: #00000088;
    cursor: pointer;
    user-select: none;
  }

  .input_error {
    font-size: 0.7rem;
    color: red;
    margin-top: 0.3rem;
  }
}

.input__50 {
  @include respondMin("tablet") {
    width: 48%;
  }
}

.input_dark {
  .input_field {
    background: rgba(34, 34, 34, 0.05);
    border: 1px solid rgba(34, 34, 34, 0.315);

    &::placeholder {
      opacity: 0.4;
      color: #222222;
    }
  }
}
