@import "@/styles/variables";
@import "@/styles/mixins";

.input {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  @include flex(space-between, center);

  .input_field {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;

    background: rgba(34, 34, 34, 0.05);
    border: 1px solid rgba(34, 34, 34, 0.315);
    color: $col-primary;

    &::placeholder {
      opacity: 0.4;
      color: #222222;
    }

    @include respondMax("mobile") {
      font-size: 16px;
    }

    &__hasError {
      background: rgba(#e04646, 0.1);
      border: 1px solid #e04646;
      color: #363636;
    }
  }

  .input_toggleIcon {
    position: absolute;
    right: 1rem;
    font-size: 1.2rem;
    color: #00000088;
    cursor: pointer;
    user-select: none;
  }

  .input_error {
    font-size: 1rem;
    color: #e04646;
    margin-top: 0.3rem;
    position: absolute;
    left: 0;
    bottom: -1.7rem;
  }
}

.input__50 {
  @include respondMin("tablet") {
    width: 48%;
  }
}

.input__light {
  .input_field {
    color: $col-white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff7a;

    &::placeholder {
      color: #ffffff;
      opacity: 0.4;
    }

    &__hasError {
      background: rgba(#e04646, 0.1);
      border: 1px solid #e04646;
      color: #d8d8d8;
    }
  }
}

.input__white {
  .input_field {
    color: $col-primary;
    background: #ffffff;
    border: 1px solid rgba(34, 34, 34, 0.5);

    &::placeholder {
      color: #222222;
      opacity: 0.4;
    }

    &__hasError {
      background: rgba(#e04646, 0.1);
      border: 1px solid #e04646;
      color: #202020;
    }
  }
}
