@import '@/styles/variables';
@import '@/styles/mixins';

#stack {
  position: relative;
  width: 100%;
  min-height: 534px;

  @include flex(center, center);
}

.stack_item {
  position: absolute;

  @include flex(center, center);
}

.stack_image {
  width: 425.87px; 
  height: 534px;
  max-width: 100%;
  overflow: hidden;

  @include flex(center, center);

  @include respondMax("sm-desktop") {
    width: 325px;
  }

  @include respondMax("lg-tablet") {
    width: 425.87px; 
  }

  @include respondMax("tablet") {
    width: 325px;
  }
}

.stack_clip {
  position: absolute;
  top: -32px;
  margin-left: 1.5rem;
  z-index: 10;

  @include respondMax("tablet") {
    top: 32px;
  }
}