@import "@/styles/variables";
@import "@/styles/mixins";

#form {
  @include flex(space-between, stretch);
  height: 4.5rem;

  .form_input {
    flex-grow: 1;
    margin-right: 2%;
    height: unset;
  }
  
  .form_inputField {
    margin: 0;
  }
  
  .form_btn {
    width: 12rem;
    font-size: 1rem;
    font-weight: 600;
    height: unset;
  }
}



