@import "@/styles/variables";
@import "@/styles/mixins";

#form {
  @include flex(space-between, stretch);

  .form_input {
    flex-grow: 1;
    margin-right: 2%;
    height: unset;

    display: flex;

    @include respondMax("mobile") {
      margin-right: 0;
    }
  }
  
  .form_inputField {
    margin: 0;
  }
  
  .form_btn {
    width: 12rem;
    font-size: 1rem;
    font-weight: 600;
    height: unset;

    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  .form_btnSpinner {
    display: grid;
    place-items: center;
    transform: scale(1.5);
  }
}



