@import "@/styles/variables";
@import '@/styles/mixins';

.preloader {
  // display: none !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #201F61; //$col-white;
  background-color: #fff;
  
  @include flex(center, center);
}

.preloader_wrapper {
  width: 100%;
  height: 100%;
  background-color: #201F61; //$col-primary-500;
  padding: 4% 7%;
  // filter: grayscale(100%);
  background-color: #fff;

  @include flex(flex-end, flex-start, column nowrap);
}

.preloader_progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 40%;

  @include flex(center, center, column nowrap);
}

.preloader_percent {
  font-size: 2rem;
  margin-top: -2rem;
  color: $col-primary;
  text-align: center;
  opacity: 0.85;
}

