@import '@/styles/variables';
@import '@/styles/mixins';

#mainSection {
  padding: 18rem 7% 4rem;

  @include flex(space-between, stretch);
}

.imageContainer {
  padding: 4rem;
  width: 48%;
  position: relative;
  overflow: hidden;

  @include flex(center, center);

  @include respondMax("sm-desktop") {
    padding: 4rem 2rem;
  }

  @include respondMax("lg-tablet") {
    width: 100%;
  }

}

.textContainer {
  padding: 4rem 2rem;
  width: 48%;
  @include flex(center, flex-start, column nowrap);

  @include respondMax("sm-desktop") {
    padding: 4rem 1rem;
  }

  @include respondMax("lg-tablet") {
    width: 100%;
  }

  .badge {
    width: 100%;
    @include flex(flex-start, center);
  }

  .mainText {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;

    @include respondMax("sm-desktop") {
      font-size: 2rem;
    }
  }

  .subText {
    padding-right: 10%;
    opacity: 0.6;
    color: $col-black;
    line-height: 1.5;
  }
}

.formContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;

  .form button {
    @include respondMax("sm-desktop") {
      width: 100%;
      margin-top: 1rem;
    }

    @include respondMax("lg-tablet") {
      margin-top: 0;
    }
  }
}