@import "@/styles/variables";
@import "@/styles/mixins";

#cta {
  margin: 12rem 5% 8rem;
  background-color: $col-primary;
  background-image: url("/img/k-pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  box-shadow: 0px 4px 40px rgba(138, 149, 147, 0.25);
  border-radius: 10px;
  text-align: center;
  color: $col-white;
  position: relative;

  @include respondMax("tablet") {
    padding: 4rem 2rem;
    margin: 7rem 4%;
  }

  @include respondMax("mobile") {
    padding: 4rem 1rem;
  }
}

.cta_title {
  font-size: 3rem;
  margin-top: 5.5rem;
  margin-bottom: 0;

  @include respondMax("tablet") {
    font-size: 2rem;
    margin-top: 2rem;
  }

  @include respondMax("mobile") {
    font-size: 1.5rem;
  }
}

.cta_subtitle {
  font-size: 1.1rem;

  @include respondMax("mobile") {
    font-size: 0.9rem;
  }
}

.cta_form {
  padding: 2rem 17% 1rem;

  @include respondMax("lg-tablet") {
    padding: 2rem 7% 1rem;
  }

  @include respondMax("tablet") {
    padding: 2rem 3% 1rem;
  }

  @include respondMax("mobile") {
    padding: 1rem 3% 0rem;
  }

  .form button {
    @include respondMax("mobile") {
      margin-top: 0.5rem;
      width: 100% !important;
    }
  }
}
