@import '@/styles/variables';
@import '@/styles/mixins';

.card {
  width: 100%;
  padding: 1.5rem;

  margin: 0 0 1.5rem;

  background: #ffffff;
  border-radius: 65px;

  @include flex(flex-start,center, row nowrap);

  @include respondMax("lg-tablet") {
    padding: 1rem;
  }

  @include respondMax("mobile") {
    padding: 0.5rem 1rem;
    margin: 0 0 1rem;
  }
  
}

.card_image {
  margin-right: 1.5rem;
  position: relative;
  bottom: -2px;
  display: grid;
  place-items: center;

  @include respondMax("lg-tablet") {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  @include respondMax("mobile") {
    margin-right: 0.5rem
  }
}

.card_details {
  @include flex(flex-start, center, row wrap);
}

.card_title {
  width: 100%;
  font-size: 1.5rem;
  margin: 0;

  @include respondMax("lg-tablet") {
    font-size: 1rem;
  }

  @include respondMax("mobile") {
    font-size: 0.9rem;
  }
}

.card_info {
  
  margin-top: 0.3rem;
  margin-right: 1rem;
  font-weight: 400;
  opacity: 0.8;

  @include flex(space-between, center);

  @include respondMax("lg-tablet") {
    margin-top: 0;
  }

  @include respondMax("mobile") {
    margin-top: 0.2rem;
    margin-right: 0.4rem;
  }

  .card_infoText {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    
    &:nth-child(1) {
      margin-left: 0
    }

    @include respondMax("mobile") {
      font-size: 0.6rem;
      margin-left: 0.2rem;
    }
  }

  .card_infoIcon {
    display: grid;
    place-items: center;

    @include respondMax("mobile") {
      width: 10px;
      height: 10px;
    }
  }
}