@import "@/styles/variables";
@import "@/styles/mixins";

#footer {
  padding: 2rem;
  background-color: $col-black;

  @include flex(center, center);

  @include respondMax("mobile") {
    padding: 1.5rem;
  }
}

.footer_text {
  margin: 0;
  text-align: center;
  color: $col-white;
  line-height: 2;

  br {
    display: none;
  }

  @include respondMax("mobile") {
    font-size: 0.8rem;

    br {
      display: initial;
    }
  }
}