* {
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: calc(100vw / 1440 * 16);
  overflow: hidden;

  @include flex(stretch, stretch, column);

  @include respondMax("tablet") {
    font-size: calc(100vw / 600 * 10);
  }
}

body {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;

  @include flex(stretch, stretch, column);
}

#__next {
  flex-grow: 1;
  overflow-x: hidden;

  @include flex(stretch, stretch, column);
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

button {
  border: 1px solid transparent;
}

figure {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;

  img {
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
