// padding and margin generator loop

$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 10, 15, 20);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem;
    }

  }

  .ma-#{$space} {
    margin: #{$space}rem
  }

  .pa-#{$space} {
    padding: #{$space}rem
  }

  .br-#{$space} {
    border-radius: #{$space}px;
  }
}