body {
  background-color: $col-primary;
}

.btn {
  width: 8rem;
  padding: 1rem 0;
  border: 1px solid transparent;
  @include flex(center, center, row nowrap);

  &__primary {
    color: $col-white;
    background-color: $col-primary-200;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: $col-primary-100
    }
  }

  &__100 {
    width: 100%;
  }
}