body {
  background-color: $col-primary;
}

.btn {
  width: 8rem;
  padding: 1rem 0;
  border: 1px solid transparent;
  @include flex(center, center, row nowrap);

  &__primary {
    color: $col-white;
    background-color: $col-primary-200;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: $col-primary-100
    }
  }

  &__white {
    background-color: $col-white;
    color: $col-primary;
    border: 1px solid $col-primary;
  }

  &__100 {
    width: 100%;
  }

  &_icon {
    @include flex(center, center);
  }

  &_icon__prefix {
    margin-right: 0.5rem;
  }
}