.primary {
  color: $col-primary;
}

.primary-100 {
  color: $col-primary-100;
}

.primary-200 {
  color: $col-primary-200;
}

.secondary {
  color: $col-secondary;
}

.white {
  color: $col-white;
}

.black {
  color: $col-black
}

.bd-secondary {
  border: 1px solid $col-secondary;
}

.bd-primary {
  border: 1px solid $col-primary
}

.bg-transparent {
  background-color: transparent;
}

.bg-secondary {
  background-color: $col-secondary;
}

.bg-primary {
  background-color: $col-primary
}

.bg-primary-100 {
  background-color: $col-primary-100
}

.bg-primary-200 {
  background-color: $col-primary-200
}

.bg-white {
  background-color: $col-white;
}

.bg-black {
  background-color: $col-black;
}