* {
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: calc(100vw / 1440 * 16);

  @include flex(stretch, stretch, column);
}

body {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;

  @include flex(stretch, stretch, column);
}

#__next {
  flex-grow: 1;
  overflow-x: hidden;

  @include flex(stretch, stretch, column);
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

button {
  border: 1px solid transparent;
}
