// colors

$col-white: #FFFFFF;
$col-black: #000000;

$col-primary: #0F0E2D;
$col-primary-100: #6863CF;
$col-primary-200: #4052AF;
$col-secondary: #00E75E;

$font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-seriff;