// colors
$col-white: #FFFFFF;
$col-black:  #060613;

$col-primary: #201F61; //#0F0E2D;
$col-primary-100: #6863CF;
$col-primary-200: #4052AF;
$col-primary-300: #161542;
$col-primary-400: #0D084D;
$col-primary-500: #0F0E2D;

$col-secondary: #00CC53;

// fonts
$font-default: 'DM Sans', sans-serif;